#projects {
  background-color: $dark-color;
  color: $white-color;
  margin-top: -15rem;
  padding-top: 10rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .vertical-timeline-element-content {
    position: relative;
    background: #fff;
    border-radius: .45em;
    padding: 1em;
    box-shadow: 2px 2px 1px rgb(61, 57, 57);
  }

  .timeline__techstack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em 2em 1em 2em;

    img {

      @include respond(tab-land) {
        width: 7%;
      }

      @include respond(tab-port) {
        width: 8%;
      }

      @include respond(phone) {
        width: 12%;
      }

    }
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .vertical-timeline {
      @include respond(tab-land){
        width: 70%;
      }
    }

    &__text {
      font-size: $default-font-size;

      @include respond(big-desktop) {
        font-size: $big-font-size;
      }

      @include respond(tab-land) {
        margin-bottom: 4.8rem;
        font-size: $default-font-size;
      }

      @include respond(tab-port) {
        font-size: $default-font-size;
      }

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
        font-size: $small-font-size;
      }

      &-title {
        font-weight: bold;
        margin: auto auto 1.3rem auto;
        font-size: $medium-title-font-size;
        color: $bright-complimentary;

        @include respond(big-desktop) {
          font-size: $larger-title-font-size;
        }

        @include respond(tab-land) {
          font-size: $larger-title-font-size;
        }

        @include respond(tab-port) {
          font-size: $medium-title-font-size;
        }

        @include respond(phone) {
          font-size: $small-title-font-size;
        }
      }

      &-subtitle {
        font-style: italic;
        margin: 0 0 1.8rem 0;
        font-size: 1.9rem;

        @include respond(phone) {
          font-size: 1.4rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-port) {
        width: 70%;
      }

      @include respond(tab-land) {
        width: 70%;
      }

      @include respond(phone) {
        width: 100%;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }

    &__source-links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 2.5em 0 2.5em 0;
    }

    hr {
      width: 40%;
      border: 1px solid $timeline-hr;
    }
  }
}
