// COLORS
$primary-color: #182534;
$dark-color: #0B0F13;

$secondary-color: #7C5920;
$bright-complimentary: #ED9100;
$bright-red: #CB4424;
$white-color: #fff;
$blueish-white: #EBF2FA;
$dark-grey: #333333;

// TIMELINE
$timeline-bright: #ed91008f;
$timeline-blue: #0062cc36;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
